* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: Helvetica, "Roboto Mono", monospace;
  box-sizing: border-box;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes notifyAppearance {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* fonts */
.roboto-mono-100 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.roboto-mono-200 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.roboto-mono-300 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.roboto-mono-400 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.roboto-mono-500 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.roboto-mono-600 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.roboto-mono-700 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary-color: #f53d2d;
  --secondary-color: #f63;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #757575;
  --border-color: #dbdbdb;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-with {
  max-width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
}

.header {
  color: var(--white-color);
  height: 120px;
  width: 100%;
  background: linear-gradient(
    -180deg,
    var(--primary-color),
    var(--secondary-color)
  );
  display: flex;
  justify-content: space-between;
}

.header__navbar {
  height: 120px;
  width: 100%;
  background: linear-gradient(
    -180deg,
    var(--primary-color),
    var(--secondary-color)
  );
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  font-weight: 300;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin-top: 8px;
}

.header__navbar-item {
  display: inline-block;
  padding: 0px 4px;
  position: relative;
  min-height: 26px;
}

.header__navbar-item-separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 2px solid #f96d5c;
  height: 14px;
  top: 50%;
  left: -2px;
  transform: translateY(-50%);
}

.header__navbar-item-link {
  text-decoration: none;
  color: var(--white-color);
}

.header__navbar-item-link:hover,
.header__navbar-item:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin-left: 4px;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon {
  display: inline-flex;
  align-items: center;
}

.header__navbar-item--no-pointer {
  cursor: text;
  color: var(--white-color);
}
.header__navbar__qr-code {
  position: relative;
}
.header__navbar__qr-code:hover .qr-code {
  display: block;
}
.header__qr-img {
  width: 100%;
  border-radius: 2px;
}
.qr-code {
  position: absolute;
  left: 0px;
  top: calc(117%);
  width: 180px;
  z-index: 1;
  border-radius: 2px;
  border: 1px solid #d3d3d3;
  box-shadow: #d3d3d3 1px 1px;
  margin-bottom: 8px;
  display: none;
  will-change: opacity;
  animation: fadeIn ease-in 0.2s;
  -webkit-animation: fadeIn ease-in 0.2s;
  -moz-animation: fadeIn ease-in 0.2s;
  -o-animation: fadeIn ease-in 0.2s;
  -ms-animation: fadeIn ease-in 0.2s;
}

.qr-code::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20px;
  top: -15px;
  left: 0;
}
.qr-code__apps {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 12px;
  margin-right: 12px;
}

.qr-code__app-item {
  height: 16px;
  margin-bottom: 8px;
}

.header__navbar-item--has-notification {
  position: relative;
}

.header__navbar-notification {
  color: var(--text-color);
  position: absolute;
  top: 117%;
  right: 0px;
  z-index: 1;
  background-color: var(--white-color);
  border-radius: 2px;
  width: 400px;
  display: none;
  box-sizing: border-box;
  border: 1px solid #d3d3d3;
  will-change: opacity, transform;
  transform-origin: calc(100% - 20px) top;
  animation: notifyAppearance ease-in 0.2s;
  -webkit-animation: notifyAppearance ease-in 0.2s;
  -moz-animation: notifyAppearance ease-in 0.2s;
  -o-animation: notifyAppearance ease-in 0.2s;
  -ms-animation: notifyAppearance ease-in 0.2s;
}

.header__navbar-notification--show {
  max-height: 56vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.header__navbar-notification::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 12px;
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
}

.header__navbar-notification::after {
  content: "";
  position: absolute;
  border-width: 10px 50px;
  border-style: solid;
  border-color: transparent;
  top: -19px;
  right: 0px;
}

.header__navbar-item--has-notification:hover .header__navbar-notification {
  display: block;
}

.header-noti-item {
  font-size: 1.6rem;
  line-height: 1.6rem;
  height: 40px;
  font-weight: 400;
  color: #bebec2;
  width: 100%;
}

.header__navbar-notification__item {
  padding-left: 14px;
  padding-right: 14px;
  display: inline-flex;
  align-items: center;
}

.header__navbar-notification__item:hover {
  background-color: rgba(245, 61, 45, 0.1);
}

.header__navbar-notification__item.header-noti-item:hover {
  background-color: var(--white-color);
  cursor: text;
}

.img-noti-item {
  width: 50px;
  height: 50px;
}

.content-noti-item {
  margin-left: 4px;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.title-noti-item {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--black-color);
}

.title-noti-item,
.description-noti-item {
  margin: 8px 0px;
}

.description-noti-item {
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--text-color);
}

.noti-footer {
  display: flex;
  justify-content: center;
  color: var(--black-color);
  font-size: 1.4rem;
  font-weight: 300;
}

.noti-footer__link {
  padding: 12px 12px;
}

.noti-footer:hover {
  background-color: rgba(245, 61, 45, 0.1);
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  animation: fadeIn linear 0.1s;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
  position: relative;
  margin: auto;
  z-index: 1;
  border-radius: 2px;
}

/* Authentication modal */
.auth-form {
  color: var(--black-color);
  width: 500px;
  overflow: hidden;
  background-color: var(--white-color);
  border-radius: 5px;
}

.auth-form-container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.2rem;
  font-weight: 700;
  margin-top: 32px;
  margin-bottom: 32px;
}

.auth-form__login-button {
  border: none;
  background-color: transparent;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--primary-color);
  cursor: pointer;
}

.auth-form__form {
  margin-top: 48px;
}

.auth-form__group {
  width: 100%;
}

.auth-form__input {
  height: 40px;
  width: 100%;
  margin-top: 16px;
  padding: 0px 12px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  outline: none;
}

.auth-form__input:focus {
  border: 1px solid #777;
}

.auth-form-policy {
  margin-top: 18px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding: 0 12px;
  text-align: center;
}

.auth-form__text-link {
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
}

.auth-form__control {
  margin-top: 100px;
  margin-bottom: 18px;
  display: flex;
  justify-content: flex-end;
}

.btn {
  min-width: 142px;
  height: 36px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 0;
  outline: none;
  color: var(--text-color);
  background-color: var(--white-color);
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.auth-form__control-back {
  margin-right: 12px;
}

.auth-form__social-button {
  background-color: #f5f5f5;
  padding: 12px 36px;
  display: flex;
  justify-content: space-between;
}
.btn.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  font-size: 1.2rem;
  height: 30px;
}
.btn--facebook {
  background-color: #3a5a98;
  color: var(--white-color);
}
.btn--facebook:hover {
  background-color: #3a5a98;
}

.btn-text {
  margin: 0 32px;
}

.help-button {
  display: flex;
  margin-top: 18px;
  justify-content: flex-end;
}

.help-button__link {
  text-decoration: none;
  font-size: 1.2rem;
}

.auth-form__help-separate {
  display: block;
  margin: 0 16px;
  border: 1px solid var(--border-color);
  height: 1.6rem;
}

.help-button__link--forgot {
  color: var(--primary-color);
}

.help-button__link--support {
  color: var(--text-color);
}
