* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: Helvetica, "Roboto Mono", monospace;
  box-sizing: border-box;
}

a {
  outline: none;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes notifyAppearance {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* fonts */
.roboto-mono-100 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.roboto-mono-200 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.roboto-mono-300 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.roboto-mono-400 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.roboto-mono-500 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.roboto-mono-600 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.roboto-mono-700 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary-color: #f53d2d;
  --background-color: #f5f5f5;
  --secondary-color: #f63;
  --white-color: lch(100% 0.01 296.81);
  --black-color: #000;
  --text-color: #757575;
  --border-color: #dbdbdb;
  --header-navbar-height: 34px;
  --header-height: 120px;
  --shop-list-header-height: 60px;
  --shop-list-height: 300px;
  --header-with-search-height: calc(
    var(--header-height) - var(--header-navbar-height)
  );
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-with {
  max-width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.grid__column-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6667%;
}

.grid__column-2-4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}

.grid__column-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3334%;
}

.header {
  color: var(--white-color);
  height: var(--header-height);
  width: 100%;
  background: linear-gradient(
    -180deg,
    var(--primary-color),
    var(--secondary-color)
  );
}

.header__navbar {
  height: var(--header-navbar-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  font-weight: 300;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin: 4px 0 0 0;
}

.header__navbar-item {
  display: inline-block;
  padding: 0px 4px;
  position: relative;
  min-height: 26px;
}

.header__navbar-item-separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 2px solid #f96d5c;
  height: 14px;
  top: 50%;
  left: -2px;
  transform: translateY(-50%);
}

.header__navbar-item-link {
  text-decoration: none;
  color: var(--white-color);
}

.header__navbar-item-link:hover,
.header__navbar-item:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin-left: 4px;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon {
  display: inline-flex;
  align-items: center;
}

.header__navbar-item--no-pointer {
  cursor: text;
  color: var(--white-color);
}

.header__shop-chanel,
.header__download-app {
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar__qr-code {
  position: relative;
}
.header__navbar__qr-code:hover .qr-code {
  display: block;
}
.header__qr-img {
  width: 100%;
  border-radius: 2px;
}
.qr-code {
  position: absolute;
  left: 0px;
  top: calc(117%);
  width: 180px;
  z-index: 1;
  border-radius: 2px;
  border: 1px solid #d3d3d3;
  box-shadow: #d3d3d3 1px 1px;
  background-color: var(--white-color);
  margin-bottom: 8px;
  display: none;
  will-change: opacity;
  animation: fadeIn ease-in 0.2s;
  -webkit-animation: fadeIn ease-in 0.2s;
  -moz-animation: fadeIn ease-in 0.2s;
  -o-animation: fadeIn ease-in 0.2s;
  -ms-animation: fadeIn ease-in 0.2s;
}

.qr-code::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20px;
  top: -15px;
  left: 0;
}
.qr-code__apps {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 12px;
  margin-right: 12px;
}

.qr-code__app-item {
  height: 16px;
  margin-bottom: 8px;
}

.header__navbar-item--has-notification {
  position: relative;
}

.header__navbar-notification {
  color: var(--text-color);
  position: absolute;
  top: 117%;
  right: 0px;
  z-index: 1;
  background-color: var(--white-color);
  border-radius: 2px;
  width: 400px;
  display: none;
  box-sizing: border-box;
  border: 1px solid #d3d3d3;
  will-change: opacity, transform;
  transform-origin: calc(100% - 20px) top;
  animation: notifyAppearance ease-in 0.2s;
  -webkit-animation: notifyAppearance ease-in 0.2s;
  -moz-animation: notifyAppearance ease-in 0.2s;
  -o-animation: notifyAppearance ease-in 0.2s;
  -ms-animation: notifyAppearance ease-in 0.2s;
}

.header__navbar-notification--show {
  max-height: 56vh;
}

.header__navbar-notification::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 12px;
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
}

.header__navbar-notification::after {
  content: "";
  position: absolute;
  border-width: 10px 50px;
  border-style: solid;
  border-color: transparent;
  top: -12px;
  right: 0px;
}

.header__navbar-item--has-notification:hover .header__navbar-notification {
  display: block;
}

.header-noti-item {
  font-size: 1.6rem;
  line-height: 1.6rem;
  height: 40px;
  font-weight: 400;
  color: #bebec2;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: var(--white-color);
}
.header__navbar-notification__item__wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
  max-height: 55vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.header__navbar-notification__item {
  padding-left: 14px;
  padding-right: 14px;
  display: inline-flex;
  align-items: center;
}

.header__navbar-notification__item:hover {
  background-color: rgba(245, 61, 45, 0.1);
}

.header__navbar-notification__item.header-noti-item:hover {
  background-color: var(--white-color);
  cursor: text;
}

.img-noti-item {
  width: 50px;
  height: 50px;
}

.content-noti-item {
  margin-left: 4px;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.title-noti-item {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--black-color);
}

.title-noti-item,
.description-noti-item {
  margin: 8px 0px;
}

.description-noti-item {
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--text-color);
}

.noti-footer {
  display: flex;
  height: 40px;
  justify-content: center;
  color: var(--black-color);
  font-size: 1.4rem;
  font-weight: 300;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: var(--white-color);
}

.noti-footer__link {
  padding: 12px 12px;
}

.noti-footer:hover {
  background-color: rgba(248, 247, 247);
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  animation: fadeIn linear 0.1s;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
  position: relative;
  margin: auto;
  z-index: 1;
  border-radius: 2px;
}

/* Authentication modal */
.auth-form {
  color: var(--black-color);
  width: 500px;
  overflow: hidden;
  background-color: var(--white-color);
  border-radius: 5px;
}

.auth-form-container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.2rem;
  font-weight: 700;
  margin-top: 32px;
  margin-bottom: 32px;
}

.auth-form__login-button {
  border: none;
  background-color: transparent;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--primary-color);
  cursor: pointer;
}

.auth-form__form {
  margin-top: 48px;
}

.auth-form__group {
  width: 100%;
}

.auth-form__input {
  height: 40px;
  width: 100%;
  margin-top: 16px;
  padding: 0px 12px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  outline: none;
}

.auth-form__input:focus {
  border: 1px solid #777;
}

.auth-form-policy {
  margin-top: 18px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding: 0 12px;
  text-align: center;
}

.auth-form__text-link {
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
}

.auth-form__control {
  margin-top: 100px;
  margin-bottom: 18px;
  display: flex;
  justify-content: flex-end;
}

.btn {
  min-width: 142px;
  height: 36px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 0;
  outline: none;
  color: var(--text-color);
  background-color: var(--white-color);
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.auth-form__control-back {
  margin-right: 12px;
}

.auth-form__social-button {
  background-color: #f5f5f5;
  padding: 12px 36px;
  display: flex;
  justify-content: space-between;
}
.btn.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  font-size: 1.2rem;
  height: 30px;
}
.btn--facebook {
  background-color: #3a5a98;
  color: var(--white-color);
}
.btn--facebook:hover {
  background-color: #3a5a98;
}

.btn-text {
  margin: 0 32px;
}

.help-button {
  display: flex;
  margin-top: 18px;
  justify-content: flex-end;
}

.help-button__link {
  text-decoration: none;
  font-size: 1.2rem;
}

.auth-form__help-separate {
  display: block;
  margin: 0 16px;
  border: 1px solid var(--border-color);
  height: 1.6rem;
}

.help-button__link--forgot {
  color: var(--primary-color);
}

.help-button__link--support {
  color: var(--text-color);
}

.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  justify-items: center;
  align-items: center;
}

.header__logo {
  width: 200px;
  cursor: pointer;
}

.header__logo-img {
  width: 150px;
}

.header__search-box-bar {
  flex: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__search-box {
  width: 100%;
  height: 40px;
  border-radius: 2px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px var(--primary-color);
}

.header__search-input-wrapper {
  flex: 1;
  height: 100%;
  align-items: center;
  position: relative;
}
.header__search-box__secondary-select-option {
  height: 27px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 5px;
}

.secondary-select-option-list {
  position: relative;
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 200;
}

.secondary-select-option-item {
  color: var(--white-color);
  text-decoration: none;
  margin: 5px 0 0 13px;
}

.secondary-select-option-item:first-child {
  margin-left: 0;
}

.header__cart {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_cart-body {
  position: relative;
}

.header_cart-body:hover {
  cursor: pointer;
}

.header__cart-icon {
  color: var(--white-color);
  font-size: 2.6rem;
  cursor: pointer;
}
.header__cart-notice {
  color: var(--primary-color);
  display: inline-flex;
  align-items: center;
  font-size: 1.4rem;
  line-height: 1.4rem;
  background-color: var(--white-color);
  padding: 1px 6px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  position: absolute;
  top: -10px;
  right: -4px;
}

.header__cart__item-list {
  position: absolute;
  width: 418px;
  background-color: var(--white-color);
  color: #212145;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  z-index: 1;
  top: 110%;
  right: 0;
  transform: translateX(17px);
  display: none;
  max-height: 56vh;
}

.header_cart-body:hover .header__cart__item-list {
  display: block;
}

.header__cart__item-list::before {
  content: "";
  position: absolute;
  top: -25px;
  right: 2px;
  border-width: 20px 30px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
}

.header__cart__item-list::before:hover {
  cursor: pointer;
}

.cart-item-header {
  font-size: 1.6rem;
  line-height: 1.6rem;
  height: 40px;
  font-weight: 400;
  color: #bebec2;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding: 0 12px;
  background-color: var(--white-color);
}

.cart-item-list-wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 40vh;
  width: 100%;
}

.cart-item-wrapper {
  height: 60px;
}

.cart-item {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 12px;
}

.cart-item-wrapper:hover {
  background-color: rgba(245, 61, 45, 0.1);
}

.cart-item-img-wrapper {
  display: flex;
  align-items: center;
}

.cart-item-img {
  height: 50px;
  width: 50px;
  margin-right: 5px;
  display: block;
}

.item-cost,
.money-unit {
  color: var(--primary-color);
}

.cart-item-title {
  margin-right: 5px;
  flex: 1;
}

.money-unit {
  font-size: 0.9rem;
  text-decoration: underline;
}

.view-all-cart-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  background-color: var(--white-color);
  padding: 0px 16px;
  margin: 10px 0;
}

.view-all-cart-items-btn {
  border: none;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 2px;
  font-size: 1.4rem;
  height: 36px;
  min-width: 150px;
  cursor: pointer;
}

.view-all-cart-items-btn:hover {
  background-color: var(--secondary-color);
}

.header__search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: var(--white-color);
  border-radius: 2px;
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 0 12px;
}

.search-history {
  position: absolute;
  background-color: var(--white-color);
  list-style: none;
  border-radius: 3px;
  width: calc(100% - 16px);
  left: 0px;
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 0;
  box-shadow: 0 0 3px #cbc9c9;
  top: 100%;
  z-index: 1;
  display: none;
  margin: 4px 0;
}

.header__search-input:focus ~ .search-history {
  display: block;
}

.header-search-history-item {
  font-size: 1.4rem;
  color: #bcbec2;
  font-weight: 300;
  padding: 12px 12px;
}

.search-history-item {
  font-size: 1.4rem;
  color: #212145;
  font-weight: 400;
  width: 100%;
  padding: 12px 12px;
}
.search-history-item:hover {
  cursor: pointer;
  background-color: #f9f9f9;
}
.search-history-item-link {
  text-decoration: none;
  width: 100%;
  font-size: 1.4rem;
  color: #212145;
  font-weight: 400;
}
.header__search-option {
  border-left: 1px solid var(--border-color);
  padding: 4px 16px;
  position: relative;
  cursor: pointer;
}

.header__search-option-label {
  color: #212145;
  font-size: 1.4rem;
}

.header__search-option-icon {
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 0 16px;
}

.search__button {
  color: var(--white-color);
  font-size: 1.4rem;
  outline: none;
  border: none;
  background-color: var(--primary-color);
  border-radius: 2px;
  height: 32px;
  width: 60px;
  margin-right: 4px;
  cursor: pointer;
}
.search__button:hover {
  background-color: var(--secondary-color);
}
.header__search-option-list {
  position: absolute;
  list-style: none;
  font-size: 1.4rem;
  top: 100%;
  left: 0;
  padding: 0;
  color: var(--text-color);
  border-radius: 3px;
  width: 170px;
  box-shadow: 0 0px 3px #cbc9c9;
  z-index: 1;
  display: none;
  margin: 10px 0;
}

.header__search-option-list::before {
  content: "";
  display: block;
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 20px;
  top: -15px;
  left: 0;
}

.header__search-option:hover .header__search-option-list {
  display: block;
}

.header__search-option-item {
  background-color: var(--white-color);
  padding: 16px 8px 16px 16px;
  border-radius: 3px;
  color: #212145;
}

.header__search-option-item:hover {
  cursor: pointer;
  border: 1px solid var(--border-color);
  background-color: #f9f9f9;
}

.header__search-option-item-label {
  margin-right: 12px;
  font-size: 1.4rem;
  color: #212145;
}

.header__search-option-item-icon {
  color: var(--primary-color);
  font-size: 1.4rem;
}

/* Content sale banner */
.content {
  width: 100%;
  background-color: var(--background-color);
}

.content__banner-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content__banner {
  margin: 30px 0;
}

.content__banner-img {
  display: block;
}

.shop-list {
  height: var(--shop-list-height);
}

.shop-list-header {
  height: var(--shop-list-header-height);
  width: 100%;
  background-color: var(--white-color);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.shop-list-header a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 500;
}

.shop-list-view-all {
  font-size: 1.4rem !important;
}

.shop-list-body {
  height: calc(var(--shop-list-height) - var(--shop-list-header-height));
  position: relative;
}

.shop-list-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.shop-item {
  border: 0.1px solid #f2f2f2;
  width: 16.66667%;
  height: 50%;
}

.shop-item:hover {
  transform: translateY(-1px);
}
.shop-item-img {
  width: 100%;
  height: 100%;
}

.view-next-shop {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--white-color);
  top: 50%;
  right: 0px;
  transform: translateX(50%) translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px #e9e9e9;
}

.view-next-shop:hover {
  height: 50px;
  width: 50px;
}

.view-next-shop:hover .view-next-shop-icon {
  font-size: 1.8rem;
}

.shop-list-wrapper:hover + .view-next-shop {
  height: 50px;
  width: 50px;
  font-size: 1.8rem;
}

.product-list-wrapper {
  margin-top: 30px;
}

.category__header {
  font-size: 1.8rem;
  height: 50px;
  line-height: 50px;
  margin-bottom: 10px;
  font-weight: 600;
  border-bottom: 1px solid var(--border-color);
}

.category-list {
  font-size: 1.4rem;
  list-style: none;
  padding: 0;
}

.category-item {
  padding: 8px 12px;
  position: relative;
}
.category-item--active {
  color: var(--primary-color) !important;
  font-weight: 600;
}
.category-item--active::before {
  content: "";
  position: absolute;
  display: block;
  border-width: 4px;
  border-style: solid;
  border-color: transparent transparent transparent var(--primary-color);
  top: 50%;
  left: 4px;
  transform: translateY(calc(-50% - 1px));
}
.category-item-link,
.category__header-link {
  text-decoration: none;
  color: #212145;
}

.category-item--show:hover ~ .category-item--hidden {
  display: block;
}

.category-item--hidden {
  display: none;
}

.shopee-search-filter-status {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  height: 30px;
  margin-top: 30px;
}

.shopee-filter-group {
  font-size: 1.4rem;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
}

.shopee-filter-group__header {
  margin-bottom: 10px;
}

.shopee-checkbox {
  display: flex;
  align-items: center;

  padding: 8px 0;
}

.shopee-checkbox__box {
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
}

.shopee-price-range-filter__inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  width: 100%;
  margin: 20px 0;
}

.shopee-price-range-filter__input {
  max-width: calc(40%);
  height: 100%;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 2px;
}

.shopee-price-range-filter__range-line {
  flex: 1;
  height: 1px;
  margin: 0 10px;
  background: var(--border-color);
}

.shopee-filter-cost-range__apply-btn-wrapper {
  margin: 20px 2px 0px 2px;
  width: 100%;
}

.shopee-filter-cost-range__apply-btn {
  border: none;
  background-color: var(--primary-color);
  width: 100%;
  border-radius: 2px;
  color: var(--white-color);
  text-transform: uppercase;
  height: 30px;
  cursor: pointer;
}

.shopee-filter-group__delete-filter-btn-wrapper {
  width: 100%;
  font-size: 1.4rem;
  height: 30px;
  margin-top: 20px;
}

.delete-filter-btn {
  border: none;
  background-color: var(--primary-color);
  width: 100%;
  border-radius: 2px;
  color: var(--white-color);
  text-transform: uppercase;
  height: 30px;
  cursor: pointer;
}

.shopee-checkbox {
  cursor: pointer;
}

.shopee-checkbox__box--hidden {
  display: none;
}
.shopee-checkbox-star {
  padding-left: 12px;
  padding-right: 12px;
}

.sort-bar-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  background-color: #ededed;
  height: 60px;
  padding: 13px 20px;
}

.sort-bar-filter {
  display: inline-flex;
  align-items: center;
}

.sort-bar-lable {
  margin-right: 15px;
}

.sort-bar-option {
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  color: #212145 !important;
  border: none;
}
.btn.btn--primary.sort-bar-option {
  color: var(--white-color) !important;
}

.btn.sort-bar-option {
  min-width: 90px !important;
}

.sort-bar-select-option-wrapper {
  height: 36px;
  min-width: 200px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
}

.sort-bar-select-option__list {
  min-width: 200px;
}

.sort-bar-select-option__item:hover .sort-bar-select-option__label {
  color: var(--primary-color) !important;
}

.sort-bar__paging-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 115px;
}

.current-page {
  color: var(--primary-color);
}

.page-control-btn {
  display: inline-flex;
  align-items: center;
  width: 68px;
  box-shadow: 0 1px 2px var(--border-color);
}

.page-btn {
  height: 34px;
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  border-radius: 2px;
  cursor: pointer;
}

.pre-page-btn {
  border-right: 1px solid var(--border-color);
}

.pre-page-btn--inactive {
  cursor: default;
  background: #f9f9f9;
}

.pre-page-btn--inactive > .page-btn-icon {
  color: #cfcfcf;
}

.main-item-wrapper {
  margin: 5px 0;
  cursor: pointer;
}

.main-item {
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  cursor: pointer;
}
.main-item__img-wrapper {
  width: 100%;
  height: 100%;
}
.main-item__img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.main-item__title {
}
.main-item__cost-and-quantity {
}
.main-item__cost {
}
.main-item__money-unit {
}
.main-item__quantity {
}
.main-item__sold-label {
}
.main-item__plus {
}
.main-item__favorite {
}
.main-item__sale-off {
}
.main-item__sale-off__percent {
}
.main-item__sale-off__label {
}
